html,body{
    background:#f6f6f6;
}
.headers .bg{
    width:100%;
    font-size:0;
}
.headers .bg img{
    width:100%;
    display:inline-block;
}
.headers #nav{
    width:100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}
.container{
    width:100%;
    background: #fff;
}
.container .infor{
    padding:70px 0 0 0;
    margin:0 auto;
    width:1100px;
    text-align: center;
    font-size:0;
    position:relative;
}
.container .infor .infor-title{
    color:#333;
    font-size:36px;
}
.container .infor .infor-nameVSserver{
    text-align: center;
    color:#888;
    font-size:18px;
    margin:35px auto;
}
.container .infor .infor-nameVSserver input{
    width:150px;
    border:none;
    text-align: center;
    background: none;
    line-height: 20px;
    color:#666;
    font-size:16px;
    border-bottom:1px solid #007eff;
}
.container .infor .infor-nameVSserver .select{
    width:150px;
    display:inline-block;
    text-align: center;
    position:relative;
    border-bottom:1px solid #007eff;
    color:#999;
}
.container .infor .infor-nameVSserver .select span{
    font-size:16px;
    width:100%;
    height:20px;
    line-height:20px;
    display:inline-block;
    overflow: hidden;
    vertical-align: bottom;
}
.container .infor .infor-nameVSserver .select select{
    width:100%;
    position:absolute;
    top:0;left:0;
    opacity: 0;
    cursor: pointer;
}
.container .infor .infor-nameVSserver select{
    -webkit-appearance: none;
    border:none;
    border-radius:0px;
    text-align: center;
    width:150px;
    background:none;
    color:#999 !important;
}
.container .infor .submit{
    border:none;
    width:150px;
    text-align: center;
    color:#fff;
    cursor: pointer;
    background:#007eff;
    height:40px;
    line-height: 40px;
    border-radius:20px;
    font-size:20px;
}
.introAddr{
    width:100%;
    text-align: center;
}
.introAddr .addr-title{
    color:#333;
    font-size:26px;
    margin:70px auto 40px;
}
.introAddr .addr-list{
    height:200px;
    margin-bottom:350px;
    font-size:0;
}
.introAddr .addr-list li{
    list-style: none;
    width:360px;
    height:530px;
    background:#fff;
    display:inline-block;
    position:relative;
}
.introAddr .addr-list li:nth-child(2){
    margin:0 10px;
}
.introAddr .addr-list li img{
    width:360px;
    height:246px;
    display:inline-block;
}
.addr-list .tele{
    margin-top:70px;
    font-size:14px;
    color:#666;
}
.addr-list .email{
    margin-top:30px;
    font-size: 14px;
    color:#007eff;
}
.addr-list .addr{
    margin-top:30px;
    font-size:14px;
    color:#666;
}
.addr-list .map{
    margin-top:40px;
    color:#007eff;
    font-size: 14px;
    display:inline-block;
    cursor: pointer;
    line-height: 20px;
    border-bottom:2px solid #007eff;
}
#zzc{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,.7);
}
#container{
    width:1000px;
    height:600px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto auto;
    z-index:1000;
}
#close{
    width:50px;
    height:50px;
    position:absolute;
    top:50px;
    right:50px;
    z-index:10;
    cursor: pointer;
    background:url('../images/close.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.regular{
    width:120px;
    padding:0 5px;
    height:24px;
    text-align: center;
    background:#ff4946;
    line-height: 24px;
    position:absolute;
    top:114px;
    left:0;
    right:0;
    margin:0 auto;
    font-size:16px;
    border-radius:3px;
    opacity:0;
    transform: translateY(100%);
}
.regular span{
    display:inline-block;
    color:#fff;
}
.fadeIn{
    transition:all .3s linear;
    transform: translateY(0);
    opacity:1;
}